body {
    font-family: 'Fira Sans', sans-serif;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
}

.cabecalho__logo {
    width: 10rem;
    padding: 1rem;
}

.cabecalho__menu {
    background-image: url(../img/icone-menu-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: none;
    width: 2rem;
    margin: 2.4rem 1rem 1rem 1rem;
}

.cabecalho__lista {
    display: none;
    
}

@media(min-width:768px) {
    .cabecalho__menu {
        margin: 2.2rem 1rem 1rem;
    }
}

@media(min-width:1024px) {

    .cabecalho__logo {
       width: 16rem;
    }

    .cabecalho__menu {
        display: none;
    }

    .cabecalho__lista {
        display: flex;
        margin-top: 2.3rem;
    }

    .cabecalho__lista a {
        justify-content: space-between;
        text-decoration: none;
        color: black;
        display: inline-block;
        padding: 1rem;
        cursor: pointer;
    }

    .--cadastro a {
        background: #419dd4;
        border: 1px solid #2e92cd;
        color: #fff;
        border-radius: 6px;
        margin-right: 1rem;
    }
}