.home__classificacao {
    background-color: #65c9e4;
    padding: 1rem 2rem 3rem;
}

.home__classificacao li {
    display: inline-block;
}

.home__classificacao-list a {
    font-size: 1rem;
    text-decoration: none;
    color: white;
    margin-bottom: 1rem;
    display: block;
}

.home__classificacao-number {
    font-size: 1rem;
    color: #FFE15E;
    font-weight: 600;
}

@media(min-width:768px) {
    .home__classificacao {
        margin-bottom: 5rem;
    }

    .home__classificacao-list {
        height: 8rem;
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
    }

    .home__classificacao li {
        width: 14rem;
    }

}