.job__form {
    display: flex;
    flex-direction: column;
    border: 3px solid white;
    border-radius: 8px;
    background-color: white;
    padding: 2rem; 
    margin-bottom: 5rem;
}

.job__form-email {
    font-weight: 700;
    margin-bottom: 1rem;
}

.job__email {
    background-color: #fbfbfb;
    border: 1px solid rgba(44, 62, 80, 0.4);
    border-radius: 5px;
    padding: .7rem 1rem;
    text-align: center;
    font-weight: 600;
    font-size: .9rem;
    margin-bottom: .6rem;
}

.job__button__form {
    background: #00c8e2;
    border:1px solid #00c8e2;
    border-radius: 5px;
    padding: .7rem 1rem;
    text-align: center;
    font-weight: 700;
    font-size: .9rem;
    text-transform: uppercase;
    color: white;
}
