.job__register {
    background-color: white;
    margin-top: 5rem;
    padding: 2rem .2rem;
    display: flex;
    flex-direction: column;   
}

.job__register__button {
    padding: .9rem 0;
    width: 16rem;
    align-self: center;
    border: none;
    background-color: #fd6767;
    border-radius: 6px;
    font-size: 1rem;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    margin-bottom: 2rem;
}

.job__social-media {
    display: flex;
    justify-content: space-between;
}

.--facebook {
    background-image: url(../img/facebook.svg);
    background-repeat: no-repeat;
}

.--twitter {
    background-image: url(../img/twitter.svg);
    background-repeat: no-repeat;
}

.--likedin {
    background-image: url(../img/twitter.svg);
    background-repeat: no-repeat;
}

.--pinterest {
    background-image: url(../img/pinterest.svg);
    background-repeat: no-repeat;
}

.job__share {
    align-self: center;
    color: rgba(0, 0, 0, 0.6);
    font-size: 1rem;
}

@media(min-width:768px) {
    .job__register {
        flex-direction: row;
        justify-content: space-around;
    }

    .job__share {
        margin-bottom: 2rem;
    }
}